<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <style type="text/css">
      body {
        font-family: 'Raleway', sans-serif;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Poiret One', cursive;
      }
    </style>
    
    <title>67</title>
  </head>
  <body>
   <nav class="navbar bg-dark navbar-dark navbar-expand-md fixed-top">
      <a href="/" class="navbar-brand"><aria-hidden="true"></i>67</a>
      <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="navScrollspy">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/member">Become A Member</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testimonies">Testimonies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/moderator">Become a Moderator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resource">Resources</a>
          </li>
          
        </ul>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <div class="container my-3 my-sm-5">
      <h2 class="text-center mb-sm-4">What Are Members Say</h2>
      <p class="lead mb-5"></p>


      
      <div class="row">
      <% testimonies.forEach(function(testimonies){ %>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 text-center mb-3">
        <a href="/testimonies/<%=testimonies._id %>" data-toggle="modal">  <img src="<%=http:www.67pastor.com/monkimage.php?mediaDirectory=mediafiles&mediaId=724850&fileName=joshua-taylor-0-0-139-159.jpg%>" class="img-fluid rounded mb-2"> </a>

          
          <h5><%= testimonies.name %></h5>
          <p><%= testimonies.church %></p>
        </div>
        <%  }); %>
        </div>
        
      </div>
    </div>

    <hr>
    <br>
    <br>
   
    <footer class="small bg-light">
      <div class="container py-3 py-sm-5">
        <div class="row">
         
        
          
          
          
        <ul class="list-inline mt-2 mb-0 text-center">
          <li class="list-inline-item">&copy; 2018 67Pastors</li>
          <li class="list-inline-item">All rights reserved.</li>
        </ul>
      </div>
      

    </footer>


    <!-- jQuery first, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>