<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <style type="text/css">
      body {
        font-family: 'Raleway', sans-serif;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Poiret One', cursive;
      }
    </style>
    
    <title>67</title>
  </head>
  <body>
   <nav class="navbar bg-dark navbar-dark navbar-expand-md fixed-top">
      <a href="/" class="navbar-brand"><aria-hidden="true"></i>67</a>
      <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="navScrollspy">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/member">Become A Member</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testimonies">Testimonies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/moderator">Become a Moderator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resource">Resources</a>
          </li>
          
        </ul>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <div class="container my-3 my-sm-5">
      <div class="mb-sm-4">
        <h2 class="text-center mb-sm-4">Our story</h2>

        <p><a class="btn btn-warning" href="https://vimeo.com/35688814" target="_blank" ="button">Watch Video &raquo;</a></p>
        <br>
         <p class="lead"> We exist to establish PEER GROUPS for Pastors,

so that they may encourage, support, and assist

one another with the intent that then they will be

better equipped to win souls and mature believers. </p>
      <p>67 peer groups are closely knit groups of 5 to 6 pastors who meet once a month.

Bob Ward, the founder of 67, owns a painting contractor business.  He had a desire to see the needs of pastors, their wives and families met.  For many years, Bob would try to impact individual pastors.  Bob served with CBMC Forums small group for 15 years.  His experience with helping to expand that ministry prepared him for 67.

The vision for 67 is that the words of Psalm 67 will become a reality in each member’s life, in the life of their church and throughout the world.</p>
<br>
      <h4>Psalm 67, verses 1 - 8</h4>
      <p>May God be gracious to us and bless us and make his face shine upon us, that your ways may be known on earth, your salvation among all nations. May the peoples praise you, O God; may all the peoples praise you. May the nations be glad and sing for joy, for you rule the peoples justly and guide the nations of the earth. May the peoples praise you, O God; may all the peoples praise you. Then the land will yield its harvest, and God, our God, will bless us. God will bless us, and all the ends of the earth will fear him.</p>
      <br>
      <p>Bob already knew that the Lord's blessing was on the pastors he knew.  His burden for pastors increased over time, and he set out to do more to meet the needs of pastors than in the past.  In 2008, Bob was encouraged by a friend Dan Boyce to perform a series of personal interviews with a number of pastors including several wives.  The deeper needs and challenges that pastors were currently facing became apparent.   Both Dan and Bob realized that isolation was key.  Pastors and their wives expressed disappointment and the difficulty of living in the "fish bowl".  "We are always on" were the words that best expressed their feelings.</p>
      <br>
      <p>This isolation takes place in the pastors life and it can cripple their lives, marriage, family and ministry.  The call to ministry is hampered by it.  In 2009, 67 was officially founded.  The purpose is to stand as an armor bearer and supporter of todays church leader, the pastor, his wife and family.</p>
      <br>
      <p>
        Isolation became the one thing that seemed to have such a huge negative impact. 67's model of 'peer support' became all of Bob's focus.  He saw in the first two groups how 67 removed the isolation.  If you read the testimonials, you find over and over and over again the impact!!!  We have seen so many men sharpen so many other men.  The picture of the pastor sharing his pain and failures only to be told by five other pastors that he is not failing but just tired has an impact that is unreal!
      </p>


      <br>
      <a href="mailto:webmaster@example.com">Contact Us</a>
    </div>
    <!--// col md 9--> 
    
    <!--Latest Sermons-->
    
  </div>
</div>

   <footer class="small bg-light">
      <div class="container py-3 py-sm-5">
        <div class="row">
         
          
          
          
        <ul class="list-inline mt-2 mb-0 text-center">
          <li class="list-inline-item">&copy; 2018 67Pastors</li>
          <li class="list-inline-item">All rights reserved.</li>
        </ul>
      </div>
    </footer>
    
    <!-- jQuery first, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>