<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik" rel="stylesheet">
    <style type="text/css">
      .jumbotron {
        background-image: url('https://media.istockphoto.com/photos/beautiful-cloudscape-over-the-sea-sunset-shot-picture-id538449165?k=6&m=538449165&s=612x612&w=0&h=OEMd-UKmKYKCy24tk5gGsUOIKDcChD3q3uPVBtVD6_s=');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        min-height: 100vh;
      }
      section {
        padding-top: 4rem;
      }
      #section-newsletter {
        padding-top: 0;
      }
      body {
        font-family: 'Open Sans', sans-serif;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Rubik', sans-serif;
      }
    </style>



    <style type="text/css">
      body {
        font-family: 'Raleway', sans-serif;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Poiret One', cursive;
      }
    </style>

    <title>67</title>
  </head>
  <body>
    <nav class="navbar bg-dark navbar-dark navbar-expand-md fixed-top">
      <a href="/" class="navbar-brand"><aria-hidden="true"></i>67</a>
      <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="navScrollspy">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/member">Become A Member</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testimonies">Testimonies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/moderator">Become a Moderator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resource">Resources</a>
          </li>
          
        </ul>
      </div>
      <div class="topnav-right">
      
   
  </div>
    </nav>
    <section id="section-jumbotron" class="jumbotron jumbotron-fluid text-white d-flex justify-content-center align-items-center">
      <div class="container text-center">
        <h1 class="display-1 text-warning text-uppercase">67</h1>
        <p class="display-4 d-none d-sm-block">Lifegiving Friendships</p>
        <p class="lead">Safe and Secure. Telling the Truth</p>
        
        
      </div>
    </section>
    <div class="container">
      
      <div class="row no-gutters bg-light p-4 mb-4">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <div class="row">
            <div class="col-12 col-sm-6 text-center">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcUgdr9ydk4MsJ5Zwd4Fo1HGIxpaGbkfx5OdRYwMtAWUC9NfI-" class="img-fluid rounded-circle mb-4 mb-lg-0">
            </div>
            <div class="col-12 col-sm-6">
              <h2>Our Mission</h2>
              <p>We exist to establish PEER GROUPS for Pastors,

so that they may encourage, support, and assist

one another with the intent that then they will be

better equipped to win souls and mature believers..  </p>
              <button type="button" href="/about" class="btn btn-warning"> Read More</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="row">
            <div class="col-12 col-sm-6 text-center">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQmt49fcBuYBPjo3TOnDA3VYEz6StxqhaZxf1Hr7RZrmAZ4na8kA" class="img-fluid rounded-circle mb-4 mb-lg-0">
            </div>
            <div class="col-12 col-sm-6">
              <h2>Testimonies</h2>
              <p>Here are the stories of pastors who have seen the benefit of 67 in their life, in their home, and in their ministry.
.</p>
              <button type="button" href="/testimonies" class="btn btn-warning">Read more</button>
            </div>
          
        </div>
      </div>
      <br>
      <hr>
      <br>
      

        <!-- Three columns of text below the carousel -->
        <div class="row no-gutters bg-light p-4 mb-4">
          <div class="col-lg-4">
            <img class="rounded" src="http://media.beliefnet.com/~/media/photos-with-attribution/entertainment/Pastors/Rick-Warren_credit-Pastor-Rick-Warren-Facebook.jpg?as=1&w=400" alt="Generic placeholder image" width="300" height="200">
            <h2>Become A Member</h2>
            <p>Essentially we are a "peer group".  67's purpose is to organize these groups with qualified "lay" moderators. </p>
            <p><a class="btn btn-warning" href="/member" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->

          
          <div class="col-lg-4">
            <img class="rounded" src="http://www.lancehahn.com/wp-content/uploads/2016/03/IMG_1451-700x460.jpg" alt="Generic placeholder image" width="300" height="200">
            <h2>Become A Moderator</h2>
            <p>It may sound good to Mankind to be self-occupied. But God wants you to be Christ-Occupied and receive all of your blessings through resting in the work of Jesus.</p>
            <p><a class="btn btn-warning" href="/moderator" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="rounded" src="https://www.jpost.com/HttpHandlers/ShowImage.ashx?id=330669&w=898&h=628" alt="Generic placeholder image" width="300" height="200">
            <h2>Resources</h2>
            <p>These come from our 67 pastors, and we believe they will be a blessing to you..</p>
            <p><a class="btn btn-warning" href="/resources" role="button">View details &raquo;</a></p>


          </div><!-- /.col-lg-4 -->


        </div><!-- /.row -->
        

      <section id="section-reviews">
        <h2 class="display-4 text-center">What Are Members Say</h2>
        <div class="row no-gutters bg-light p-4 mb-4">
          <div class="col-12 col-md-6 col-xl-3">
            <blockquote class="blockquote p-3">
              <p><i class="fa fa-fw fa-quote-left text-secondary" aria-hidden="true"></i>This group is so important to being a healthy pastor.<i class="fa fa-fw fa-quote-right text-secondary" aria-hidden="true"></i></p>
              <footer class="blockquote-footer">MJ Siewart <time datetime="2017-06-15T14:35">(Christ Church Lake Forest)</time></footer>
            </blockquote>
          </div>
          <div class="col-12 col-md-6 col-xl-3">
            <blockquote class="blockquote p-3">
              <p><i class="fa fa-fw fa-quote-left text-secondary" aria-hidden="true"></i>67 is a excelent opportunity to share with other Pastors in the trenches of ministry.<i class="fa fa-fw fa-quote-right text-secondary" aria-hidden="true"></i></p>
              <footer class="blockquote-footer">Bill Steger <time datetime="2017-07-09T19:12">(Oak Park Avenue Bapstist)</time></footer>
            </blockquote>
          </div>
          <div class="col-12 col-md-6 col-xl-3">
            <blockquote class="blockquote p-3">
              <p><i class="fa fa-fw fa-quote-left text-secondary" aria-hidden="true"></i>67 is a God ordained outlet for a Pastor to unload his burdens.<i class="fa fa-fw fa-quote-right text-secondary" aria-hidden="true"></i></p>
              <footer class="blockquote-footer">Keith Greenburg <time datetime="2017-09-01T11:19">(Rodgers Park Community)</time></footer>
            </blockquote>
          </div>
          <div class="col-12 col-md-6 col-xl-3">
            <blockquote class="blockquote p-3">
              <p><i class="fa fa-fw fa-quote-left text-secondary" aria-hidden="true"></i>I have been sharpened and refreshed by 67.<i class="fa fa-fw fa-quote-right text-secondary" aria-hidden="true"></i></p>
              <footer class="blockquote-footer">Luke Dudenhofer<time datetime="2017-08-12T08:43">( New Life Bridgeport)</time></footer>
            </blockquote>
          </div>
        </div>
        <p><a class="btn btn-warning" href="https://vimeo.com/35688814" target="_blank" ="button">Watch Video &raquo;</a></p>
        <a href="mailto:webmaster@example.com">Contact Us</a>
      </section>
    <footer class="small bg-light">
      <div class="container py-3 py-sm-5">
        <div class="row">
         
          
          
          
        <ul class="list-inline mt-2 mb-0 text-center">
          <li class="list-inline-item">&copy; 2018 67Pastors</li>
          <li class="list-inline-item">All rights reserved.</li>
        </ul>
      

      </div>

      <a href="mailto:webmaster@example.com">Admin</a>
    </footer>

    <!-- jQuery first, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>