<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


    <style type="text/css">
      body {
        font-family: 'Raleway', sans-serif;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Poiret One', cursive;
      }
    </style>
    
    <title>67</title>
  </head>
  <body>
   <nav class="navbar bg-dark navbar-dark navbar-expand-md fixed-top">
      <a href="/" class="navbar-brand"><aria-hidden="true"></i>67</a>
      <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="navScrollspy">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/member">Become A Member</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testimonies">Testimonies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/moderator">Become a Moderator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resource">Resources</a>
          </li>
          
        </ul>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <div class="container my-3 my-sm-5">
      <div class="mb-sm-4">
        <h2 class="text-center mb-sm-4">Becoming a Member</h2>
         <p class="lead"> We exist to establish PEER GROUPS for Pastors,

so that they may encourage, support, and assist

one another with the intent that then they will be

better equipped to win souls and mature believers. </p>
      <p>Essentially we are a "peer group".  67's purpose is to organize these groups with qualified "lay" moderators.</p>
<br>
      <h4>The Steps</h4>
      <ol>
      <li>
        If there is an interest, we set up a 5 to 10 minute phone call to explain 67, and answer any questions you may have.  If you are interested, please click here to send us an email.
      </li>
      <br>

      <li>
        67, with your help, puts together an 'Intro Dinner'.  The purpose of the dinner is to introduce the director of the ministry to a group of 5 to 6 pastors.  The pastors are required to bring their wives to the dinner if married.  The "introduction" takes 20 minutes and a short time for questions will follow.  After which the director leaves and you stay to enjoy dinner and fellowship with the other pastors and wives. These dinners are all typically held at Ruth's Chris Steakhouse.
      </li>
      <br>
      <li>
         Three days after the dinner, the director will call and ask you if would like to commit to a three meeting trial.  This is a critical point.  The initial commitment is for three meetings and then you decide whether you want to continue with 67.
      </li>
      <br>
      </ol>
      <h4>A Typical Meeting:</h4>
      <ol>
      <br>
      <li>
        Meets once a month.
      </li>
      <br>
      <li>
        7:30am - 11:00am.
      </li>
      <br>
      <li>
        The location of each meeting will be held at the "host" pastor's location.
      </li>
      <br>
      <li>
        A breakfast will be provided by 67 for the meeting.
      </li>
      <br>
      <li>
        Each meeting is broken into 2 parts

        <br>
        <ul>
        <li>
        Host Time 50% (host creates monthly)
        </li>
        
        <li>
       Round Table 50%
       </li>
      </li>
      </ul>
      </ol>

      

       
    </div>
    
  </div>
</div>

      </div>
      
    <footer class="small bg-light">
      <div class="container py-3 py-sm-5">
        <div class="row">
         
          
          
          
        <ul class="list-inline mt-2 mb-0 text-center">
          <li class="list-inline-item">&copy; 2018 67Pastors</li>
          <li class="list-inline-item">All rights reserved.</li>
        </ul>
      </div>
    </footer>

    <!-- jQuery first, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>