<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">


    <style type="text/css">
      body {
        font-family: 'Raleway', sans-serif;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Poiret One', cursive;
      }
    </style>
    
    <title>67</title>
  </head>
  <body>
    <nav class="navbar bg-dark navbar-dark navbar-expand-md fixed-top">
      <a href="/" class="navbar-brand"><aria-hidden="true"></i>67</a>
      <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="navScrollspy">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/member">Become A Member</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testimonies">Testimonies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/moderator">Become a Moderator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resource">Resources</a>
          </li>
          
        </ul>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <div class="container my-3 my-sm-5">
      <div class="mb-sm-4">
        <h2 class="text-center mb-sm-4">Becoming A Moderator</h2>
         <p class="lead"> We exist to establish PEER GROUPS for Pastors,

so that they may encourage, support, and assist

one another with the intent that then they will be

better equipped to win souls and mature believers. </p>
      <p>Below is a brief explanation of a moderators roles and responsibilities.  If you would like to talk to us about becoming a moderator please <a href="mailto:webmaster@example.com">Contact Us</a></p>


<br>
      <h4> Steps to become a Moderator</h4>
      <ol>
      <li>
         Visit 67 meeting with sponsor
      </li>
      <br>

      <li>
       Fill out a 67 Moderator Application
      </li>
      <br>
      <li>
         Interview with 67 board member
      </li>
      <br>
      <li>
        Sign confidentiality and commitment / acceptance
      </li>
      <br>
      <li>
         Sign statement of faith
      </li>
      <br>
</ol>
      <h4>Training</h4> 
      <ol>
      <li> Listen in on Host Pastor call for meeting preparation interview with Bob or other moderator</li>
      <br>
      <li>
        Attend a 67 meeting for observation
      </li>
      <br>
      <li>
        Initiate and lead a call to a Host Pastor for meeting preparation
      </li>
      <br>
      <li>
        Moderate the 67 meeting while observed by current Moderator.
      </li>
      </ol>
      <br>

      <h4>Evaluation</h4>
      <br>
      <p>67 strives to provide the best group experience for the pastors that attend a 67 meeting.  In pursuit of this goal, each 67 group will be periodically asked to provide feedback regarding their group, the moderator and all aspects of how well 67 is helping them.</p>

      <br>
      <h4>The role of a 67 Group moderator would be as follows:</h4>

      <br>

      <ol>
        <li>
          Moderate a monthly meeting at a host pastors church (4 hrs)
        </li>
        <br>
        <li>
           Prepare for the monthly agenda by interviewing the host pastor and reviewing the  host pastors questionnaire / items of concern (1 hr)
        </li>
        <br>
        <li>
          Moderate the function dates on a month to month basis.  The moderator is not to attend these meetings but rather make sure the dates are set and that the meetings are happening in the proper time frames
        </li>
        <br>
        <li>
          CHRISTMAS DINNER
        </li>
        <br>
        <li>
           PICNIC
        </li>
        <br>
        <li>
           RETREAT
        </li>
      </ol>
      <br>
      <p>
        The estimated time commitment for a moderator would be approximately 5-6 hours a month.  There would be a two to three month training period where the moderator would be trained by an experienced moderator to help provide a good foundation for the moderator’s success
      </p>
       
    </div>
    <!--// col md 9--> 
    
    <!--Latest Sermons-->
    
  </div>
</div>

      </div>
      
    <footer class="small bg-light">
      <div class="container py-3 py-sm-5">
        <div class="row">
         
          
          
          
        <ul class="list-inline mt-2 mb-0 text-center">
          <li class="list-inline-item">&copy; 2018 67Pastors</li>
          <li class="list-inline-item">All rights reserved.</li>
        </ul>
      </div>
    </footer>
    
    <!-- jQuery first, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>